<div class="flex-column" style="height: 100%;">
  <mat-toolbar class="bg-dark">
    <div>
      <img src="{{'assets/icons/app.png'}}" alt="" style="height: 60%; width:auto;"><span>&nbsp;</span><span class="bg-text">ASISTENCIA</span>
    </div>
  </mat-toolbar>
  <div class="flex-fill flex-column side-nav-items" *ngIf="isAuthenticated">
    <div class="side-nav-item">
      <div class="flex-row flex-h-center" style="background-color: whitesmoke;">
        <img src="{{user.avatar}}" alt="" style="width:80px; margin:10px">
      </div>
      <div style="margin:10px; flex-direction:column; justify-content: center;">
        <strong>{{user.username}}</strong><br>
        <span>{{user.name}}</span><br>
        <small style="color:#777">{{user.email}}</small>
      </div>
    </div>
    <div class="side-nav-item" style="padding:5px;">
      <button mat-flat-button color="accent" style="width: 100%;" (click)="openEditProfile()"><mat-icon>account_circle</mat-icon>&nbsp;Editar Perfil</button>
    </div>
    <div class="side-nav-item flex-fill" style="overflow: auto; height: 0;">
      <div class="apps flex-row">
        <figure routerLink="/apps">
          <mat-icon>home</mat-icon>
          <figcaption class="ellipsis">Inicio</figcaption>
        </figure>
        <ng-container *ngFor="let app of apps; let i = index">
            <figure [routerLink]="['/'+app.route]" (click)="close()" >
                <img src="{{ app.icon }}" alt="Icon">
                <figcaption class="ellipsis">{{ app.name }}</figcaption>
            </figure>
        </ng-container>
      </div>
    </div>
    <div class="side-nav-item">
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar sesión
      </button>
    </div>
  </div>
</div>