
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
}

.carousel-container{
    /*width: 70vw;*/
    height: 400px;
}
.principal, .informacion_default
{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.principal{
    background-color: var(--fondo-2);
}

.ancho-completo
{
    width: 100%;
}

.informacion_default
{
    color: var(--color-1);
    text-align: center;
    font-size: 1.5rem;
    
}

.informacion_cabecera
{
    margin: 20px 0px;
}

.letras
{
    margin-top: 10px;
}

.semana-epidemiologica{
    text-align: center;
    background-color: var(--fondo-4);
    padding: 10px 20px 10px 20px; 
    color: var(--color-1);
    border-radius: 0px 0px 20px 20px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .flex-container {
     display: flex;
     flex-direction: row;
     font-size: 30px;
     text-align: center;
 }
   
 
 
 
 .texto
 {
     font-size: 12pt;
     line-height: 20px;
 }
 
 .semana
 {
     padding: 20px;
     font-size: 40pt;
 }
 .menu-information
 {
     width: 100%;
 }
 
 * {
     box-sizing: border-box;
 }
 
 
 .flex-item {
     padding: 10px;
     flex: 50%;
 }
 
 .titulo
 {
     font-size:9pt;
     font-weight: bold;
     color: var(--color-2);
     text-transform: uppercase;
 }
 
 .lista-menu
 {
     text-align:left;
     font-size:9pt;
     list-style: none;
     text-transform: uppercase;
 }
 
 .lista-menu li
 {
     line-height: 20px;
     cursor: pointer;
     text-decoration: underline;
     color: black;
 }

 
 @media screen and (max-width: 500px) {
     .semana-epidemiologica
     {
         width: 75vw;
     }
 
     .flex-container {
         display: flex;
         flex-direction:column;
         font-size: 30px;
         text-align: center;
     }

     .letras
     {
        font-size: 10pt;
     }

     .texto
     {
        font-size: 0.9rem;
     }
     .carousel-container{
        height: auto;
    }
 }

 @media (min-width: 501px) and (max-width: 800px) {
    .semana-epidemiologica
    {
        width: 75vw;
    }

    .flex-container {
        display: flex;
        flex-direction:column;
        font-size: 30px;
        text-align: center;
    }

    .letras
    {
       font-size: 10pt;
    }

    .texto
    {
       font-size: 0.9rem;
    }
    .carousel-container{
        height: auto;
    }
}


   
    
    :host ::ng-deep{
    
        .image-container{
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .igx-carousel{
            max-width: 100%;
            width: unset;
        }
    
        .igx-nav-dot{
            background: black;
            box-shadow: none;
            width: 15px;
            height: 15px;
        }
    
        .igx-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            width: unset;
        }
    
        .igx-slide img{
            object-fit: fill;
            max-width: 100%;
        }
    
    }