<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;" class="background">
    <div fxFlex></div>
    <div fxFlex="none" fxLayout="row">
        <div fxFlex></div>
        <div fxFlex="50">
            <mat-card>
                <mat-card-content fxLayout="column">
                    <section fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
                      <section fxFlex fxLayout="column">
                        <mat-form-field fxFlex appearance="outline">
                          <mat-label>Nombre de Usuario / Correo Electronico</mat-label>
                            <input type="text" matInput placeholder="Usuario/Email" [(ngModel)]="UserMail">
                            <mat-error>El usuario es inválido</mat-error>
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                      </section>
                    </section>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex></div>
    </div>
    <div fxFlex></div>
</section>