.cabecera-titulo{
    display: block;
    font-weight: 450;
    font-size: 20px;
    text-overflow: ellipsis;
    text-align: center;
    text-justify: inter-word;
}

.checklist-titulo{
    background-color: #D9D9D9;
    font-weight: bold;
}

.checklist-reactivo{
    font-size: 1vw;
    padding-top:3px;
    padding-bottom:3px;
}

.checklist-reactivo:hover{
    background-color: cornflowerblue;
}

.data-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}