<div>
    <div class="caja">
        <div class="texto_cabecera">
            {{ texto_cabecera }}
        </div>
        <div class="botones-configuracion">
            <button mat-fab color="primary" (click)="addBoton(1)" [disabled]="(tipo_boton == 3 && padre_id==0)">
                <mat-icon>add</mat-icon>
                
            </button>
            <button mat-fab color="primary" (click)="addBoton(2)" [disabled]="!obj_seleccionado">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-fab color="accent" (click)="delBoton()" [disabled]="!obj_seleccionado">
                <mat-icon>delete</mat-icon>
            </button>
            
        </div>
        <div class="columna"  *ngIf="!loading">
            <div>
                <mat-selection-list #btn [multiple]="false" (selectionChange)="verificarId(btn.selectedOptions.selected[0].value)">
                    @for (boton of arreglo; track boton) {
                        <mat-list-option [value]="boton" class="lista">
                            <i class="'uil uil-{{ boton.icon_imagen }}"></i>
                            {{ boton.texto_boton}}
                           
                        </mat-list-option>
                    }
                  </mat-selection-list>
                  <div *ngIf="arreglo.length == 0" class="sin_datos">
                        <div>-- SIN DATOS -- </div>
                  </div>
            </div>
            
        </div>
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</div>

