/* ::ng-deep .mat-card{
    padding:5px !important;
} */
.permissions-container {
    position: relative;
    min-height: 200px;
}

.permissions-table-container {
    position: relative;
    max-height: 650px;
    min-height:100px;
    overflow: auto;
}

.permissions-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

table {
    width: 100%;
}

table th {
    padding:0 5px;
}

.data-table th:first-child{
    border-radius: 4px 0px 0px 0px;
}

.data-table th:last-child{
    border-radius: 0px 4px 0px 0px;
}

table tr:hover{
  background-color: whitesmoke;
  cursor: default;
}

.no-results-found{
    text-align: center;
    font-style: italic;
}

.loading-results{
    width:100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    font-style: italic;
}

.loading-results mat-spinner{
    margin:0 auto;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

/* Column Widths */
.mat-column-actions{
    max-width: 75px;
    min-width: 60px;
}

.hide{
    display: none;
}

.search-button {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    margin: 0 10px;
}