<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <div class="permissions-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>

    <section fxFlex fxLayout="column">
        <mat-card fxFlex fxLayout="column" style="padding: 6px;">
            <br>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="row wrap">
                    <mat-form-field fxFill appearance="fill">
                        <mat-label>Buscar</mat-label>
                        <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                        <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex="none" fxFlex.xs="100">
                    <div fxFlex></div>
                    <section class="search-button">
                        <button mat-raised-button color="accent" (click)="applyFilter()">
                            <mat-icon>search</mat-icon> Buscar
                        </button>
                    </section>
                </div>
            </div>

            <div fxFlex="none" fxLayoutAlign="end center">
                <div fxFlex="none" fxLayout="row" style="padding-bottom:10px;">
                    <div fxFlex></div>
                    <button mat-raised-button color="primary" (click)="openDialogForm()"><mat-icon>add_circle</mat-icon> Crear Permiso</button>
                </div>
            </div>

            <mat-divider [inset]="true"></mat-divider>
            <br>
            <div class="permissions-container">
                <div class="permissions-table-container">
                    <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> ID </th>
                            <td mat-cell *matCellDef="let row" fxHide.xs="xs"> {{row.id}} </td>
                        </ng-container>
                
                        <!-- Description Column -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                        </ng-container>
                
                        <!-- Group Column -->
                        <ng-container matColumnDef="group">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Grupo </th>
                            <td mat-cell *matCellDef="let row" fxHide.xs="xs"> {{row.group}} </td>
                        </ng-container>


                        <ng-container matColumnDef="opciones" >
                            <th mat-header-cell *matHeaderCellDef>Opciones</th>
                            <td mat-cell *matCellDef="let row; let i = index">
                                <button mat-button mat-stroked-button [matMenuTriggerFor]="menu">Opciones</button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item matTooltip="Editar Permiso"    (click)="openDialogForm(row.id)"><mat-icon color="primary">edit</mat-icon>Editar</button>
                                    <button mat-menu-item matTooltip="Eliminar Permiso"  (click)="confirmDeletePermission(row.id)"><mat-icon color="warn">delete</mat-icon>Eliminar</button>
                                </mat-menu>
                                
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="noResultsFound">
                            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                No se encontraron registros
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                    </table>
                </div>
                <mat-paginator #paginator pageSize="20" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadPermissionsData($event)"></mat-paginator>
            </div>

        </mat-card>
    </section>
</section>
